*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-bar{
  border: none;
  outline: none;
  width: 350px;
}

::-webkit-scrollbar{
  width: 10px;
  height: 2px;
}

::-webkit-scrollbar-thump{
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track{
  background-color: rgb(237, 248, 215);
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 3px 10px;
  margin: 5px 0px;
  border-radius: 20px;
  transition: all 0.3 ease;
}

.category-btn:hover{
  background-color: #9fc5e8 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}